.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    width: 80%;
    margin: 0 auto;

}

.poster {
    border-radius: 20px;
    max-width: 70%;
    place-self: center;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: 600;

}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}


.ani {
    -webkit-animation: vanishIn 0.5s ease forwards;
    animation: vanishIn 0.5s ease forwards;
}

@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}

@keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}